{% extends "questionnaire/base.html" %}

{% block body_content %}
<div class="container main-body">

  <div class="index-main">
    <h1 class="index-heading">Simple Questionnaire</h1>

    <form method="POST"> {% csrf_token %}
      <p>
        My favourite month.
      </p>
      <select name="favmonth" id="month">
        {% for month in monform.month %}
          <option value="{{ month }}"></option>
        {% endfor %}
      </select>
      <br><br>
      <p>
        My favourite day of the week.
      </p>
      <select name="favday" id="day">
        {% for day in dayform.dayofweek %}
          <option value="{{ day }}"></option>
        {% endfor %}
      </select>
      <br><br>
      <a href="/"><input type="submit" value="Submit" class="btn btn-primary"></a>
    </form>
  </div>
</div>
{% endblock %}
