{% extends "questionnaire/base.html" %}

{% block body_content %}
<div class="container main-body">

  <div class="index-main">
    <h1 class="index-heading">Simple Questionnaire</h1>
    <form action="" method="POST">
      <p>
        My favourite month.
      </p>
      <p>
        {{ monform.month }}
      </p>
      <p>
        My favourite day of the week.
      </p>
      <p>
        {{ dayform.dayofweek }}
      </p>
      <input type="submit" value="Submit" class="btn btn-primary">
    </form>
    
  </div>
</div>
{% endblock %}
